* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: #333;
    display: flex;
    align-items: center;
    font-size: 3rem;
    flex-direction: column;
    color: white;
  }
  
  .title {
    margin: 20px;
  }
  
  .subtext {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .board {
    display: inline-grid;
    padding: 10px;
    grid-template-columns: repeat(var(--size), 60px);
    grid-template-rows: repeat(var(--size), 60px);
    gap: 4px;
    background-color: rgb(84, 179, 66);
  }
  
  .board > * {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(226, 197, 164);
    border: 3px solid rgb(185, 157, 125);
    user-select: none;
  }
  
  .board > [data-status="hidden"] {
    background-color: rgb(107, 223, 84);
    border: 3px solid rgb(84, 179, 66);
    cursor: pointer;
  }
  
  .board > [data-status="mine"] {
    background-color: rgb(204, 77, 77);
  }
  
  .board > [data-status="number"] {
    background-color: none;
  }
  
  .board > [data-status="marked"] {
    background-color: rgb(255, 255, 129);
  }